td,th{
    text-align: right;
}
/* table{
    border: 1px solid black;;
} */
/* tbody tr:nth-child(3n) {
    border-bottom: 4px solid #000;
  }
  */
  table td ,table th{
    border: 1px solid black !important;

}
th,td{
    text-align: center;
}
select.form-control {
    width: 10%;
  }
  option {
    text-align: right;
  }
  select.form-control,label,a {
    float: right;
  }
  .form-group {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  h2 {
    text-decoration: underline;
 }  
 .container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95%;
}
